.form {
    text-align: center;
}
.label{
    margin-right: 20px;
    color: #000000;
    font-size: x-large;
}
.input{
    margin-left: 10px;
    border-radius: 5px;
    border-color: #2F4F4F;
    padding: 7px;
}
.button{
    padding: 10px 20px;
    border-radius: 5px;
}